@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

.click-blocker{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 5;
}

nav{
    width: 100vw;
    height: 10vh;
    background-color: #00C2D1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

nav ul li{
    font-family: 'Freckle Face', cursive;
    font-size: 3rem;
    color: #0A1045;
    list-style: none;
    transition: all linear 100ms;
    outline: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav ul li:hover{
    cursor: pointer;
    color: #F9E900;
}

span.info{
    font-size: 3rem;
}

.mode-switch{
    font-size: 2.5rem;
    color: #0A1045;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mode-switch:hover{
    cursor: auto;
    color: #0A1045
}

.mode-switch  input:hover{
    cursor: pointer;
}

.mode-switch input[type="checkbox"]{
    height: 4vh;
    width: 8vh;
    background: rgb(208, 208, 208);
    position: relative;
    -webkit-appearance: none;
    border-radius: 1vh 1vh;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: all 200ms;
    margin-left: 1.5vh;
}

.mode-switch input[type="checkbox"]:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4vh;
    width: 4vh;
    border-radius: 1vh 1vh;
    background: #FFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    transition: all 200ms;
}

.mode-switch input:checked[type="checkbox"]{
    background: #F9E900;
}

.mode-switch input:checked[type="checkbox"]:before{
    transform: translate(4vh);
}

.grid-section{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.path-finder-grid{
    background-color: #FFF;
    padding: 0;
    display: grid;
    width: 90%;
    min-height: 90%;
    grid-template-columns: repeat(25, 1fr);
    border-radius: 5px;
    overflow: hidden;
}