.node{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(164, 230, 208);
}

.start-node{
    background-color: blue;
}

.end-node{
    background-color: red;
}

.wall-node{
    background-color: navy;
}

.start-node.visited-node{
    background-color: cyan;
}

.end-node.visited-node{
    background-color: rgb(162, 0, 0);
}

.end-node.visited-node.path-node{
    background-color: green;
}

.visited-node{
    background-color: rgb(77, 159, 131);
}

.path-node{
    background-color: yellow;
}
