.node{
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
	/* animation: flip-wall-to-path 300ms linear; */
}

.start-node{
    background-color: #44e6f2;
    background-image: none;
}

.end-node{
    background-color: #e32c2c;
    background-image: none;
}

.wall-node{
    background-color: #7DD669;
	/* animation: flip-path-to-wall 500ms linear; */
}

.start-node.visited-node{
    background-color: #44e6f2;
    background-size: 100% 100%;
}

.end-node.visited-node{
    background-color: #e32c2c;
    background-size: 100% 100%;
}

.end-node.visited-node.path-node{
    background-color: #ff1e1e;
    background-size: 100% 100%;
}

.visited-node{
    background-color: #dedede;
}

/* rgb(77, 159, 131) */

.path-node{
    background-size: 100% 100%;
    background-color: #f7ea30;
    filter: brightness(150%)
}

@-webkit-keyframes flip-path-to-wall {
0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    background-color: #c6c6c6;
}
49%{
    background-color: #c6c6c6;
}
50% {
    background-color: #7DD669;
}
100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
}
@keyframes flip-path-to-wall {
0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    background-color: #c6c6c6;
}
49%{
    background-color: #c6c6c6;
}
50% {
    background-color: #7DD669;
}
100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
}

@-webkit-keyframes flip-wall-to-path {
0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    background-color: #7DD669;
}
49%{
    background-color: #7DD669;
}
50% {
    background-color: #c6c6c6;
}
100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
}
@keyframes flip-wall-to-path {
0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    background-color: #7DD669;
}
49%{
    background-color: #7DD669;
}
50% {
    background-color: #c6c6c6;
}
100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
}
